.graphExcel {
  font-size:1em;
  .sectionTitle{
    font-size: 1.1em;
    font-weight: 700;
    margin-top: 10px;
  }
  .fileList{
    list-style-type: none;
    li{
      cursor: pointer;
      text-decoration: underline;
    }
  }
  .buttons{
    margin-left: 10px;
    cursor: pointer;
  }
}