.tableRDT
{
  border-collapse:collapse;
  width: 400px;
}

.tableRDT th
{
  height:30px;
  border:1px solid #c7c7c7;
  background-color: lightgray;
  font-weight: normal;
  font-size: 12px;
  font-variant:small-caps;
  color: #6f6f6f;
  padding: 1px 10px 1px 10px;
}

.tableRDT td
{
    height: 25px;
    border:1px solid #c7c7c7;
    font-size: 10px;
    color: #323232;
    padding: 1px 10px 1px 10px;
}

.chartContainer
{
    border: 1px solid gray;
}