<div class="graphExcel">
  <H1>Working with Excel using Microsoft Graph</H1>
  <p>Persistant Session:
    <input type="checkbox" ng-model="vm.persistantDemo" ng-change="vm.checked()" />
  </p>
  <div class="sectionTitle">Select a file:</div>
  <ul class="fileList">
    <li ng-repeat="d in vm.data.driveItems" ng-click="vm.selectDriveItem(d.id)">{{d.name}}</li>
  </ul>
  <div class="sectionTitle">Get Worksheets: 
    <span ng-if="!vm.data.getWorksheets" class="far fa-check-circle"></span>
    <span ng-if="vm.data.getWorksheets" class="fas fa-check-circle" style="color: green;"></span> 
  </div>
  <table style="width: 90%" ng-if="vm.data.getWorksheets">
    <thead>
      <tr>
        <th colspan="4">Worksheets Currently in Workbook</td>
      </tr>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Position</th>
        <th>Visibility</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="ws in vm.data.worksheets">
        <td>{{ws.id}}</td>
        <td>{{ws.name}}</td>
        <td>{{ws.position}}</td>
        <td>{{ws.visibility}}</td>
      </tr>
    </tbody>
  </table>
  <div ng-show="!vm.persistantDemo">
    <div class="sectionTitle">Rename Sheet: 
      <span ng-if="!vm.data.renameSheet" class="far fa-check-circle"></span>
      <span ng-if="vm.data.renameSheet" class="fas fa-check-circle" style="color: green;"></span>
    </div>
    <div ng-if="!vm.data.renameSheet">
      <input type="text" ng-model="vm.renameSheetValue" placeholder="New name" />
      <span ng-click="vm.renameSheet()" class="fa fa-arrow-right buttons"></span>
    </div>
    <div class="sectionTitle">Add New Sheet: 
      <span ng-if="!vm.data.addSheet" class="far fa-check-circle"></span>
      <span ng-if="vm.data.addSheet" class="fas fa-check-circle" style="color: green;"></span>
    </div>
    <div ng-if="!vm.data.addSheet">
      <input type="text" ng-model="vm.addSheetValue" placeholder="Name of Sheet" />
      <span ng-click="vm.addSheet()" class="fa fa-arrow-right buttons"></span>
    </div>
    <div class="sectionTitle">Add Data to Worksheet: 
        <span ng-if="!vm.data.addData" class="far fa-check-circle"></span>
        <span ng-if="vm.data.addData" class="fas fa-check-circle" style="color: green;"></span>
    </div>
    <div ng-if="!vm.data.addData">
      <input type="text" ng-model="vm.addDataSheetValue" placeholder="Name of Sheet"/>
      <span ng-click="vm.addDataSheet()" class="fa fa-arrow-right buttons"></span>
    </div>
    <div class="sectionTitle">Format Dates (uses worksheet from last step): 
        <span ng-if="!vm.data.formatDates" class="far fa-check-circle"></span>
        <span ng-if="vm.data.formatDates" class="fas fa-check-circle" style="color: green;"></span>
    </div>
    <div ng-if="!vm.data.formatDates">
      <input type="text" ng-model="vm.dateFormatValue" placeholder="Date Format" />
      <span ng-click="vm.formatDates()" class="fa fa-arrow-right buttons"></span>
    </div>
    <div class="sectionTitle">Create Table: 
      <span ng-if="!vm.data.createTable" class="far fa-check-circle"></span>
      <span ng-if="vm.data.createTable" class="fas fa-check-circle" style="color: green;"></span>
      <span ng-if="!vm.data.createTable" ng-click="vm.createTable()" class="fa fa-arrow-right buttons"></span>
    </div>
    <div class="sectionTitle">Get/Refresh Tables: 
        <span ng-if="!vm.data.getTables" class="far fa-check-circle"></span>
        <span ng-if="vm.data.getTables" class="fas fa-check-circle" style="color: green;"></span>
        <span ng-if="!vm.data.getTables" ng-click="vm.getTables()" class="fa fa-arrow-right buttons"></span>
    </div>
    <table ng-if="vm.data.getTables" ng-repeat="t in vm.data.tables" style="margin-top: 10px;">
      <thead>
        <tr>
          <th colspan="2">Tables Currently in 'Workbook'</td>
        </tr>
      <tbody>
        <tr>
          <td>highlightFirstColumn: </td>
          <td>{{t.highlightFirstColumn}}</td>
        </tr> 
        <tr>
          <td>highlightLastColumn: </td>
          <td>{{t.highlightLastColumn}}</td>
        </tr>
        <tr>
          <td>Id: </td>
          <td>{{t.id}}</td>
        </tr>
        <tr>
          <td>Name: </td>
          <td>{{t.name}}</td>
        </tr>
        <tr>
          <td>showBandedColumns: </td>
          <td>{{t.showBandedColumns}}</td>
        </tr>
        <tr>
          <td>showBandedRows: </td>
          <td>{{t.showBandedRows}}</td>
        </tr>
        <tr>
          <td>showFilterButton: </td>
          <td>{{t.showFilterButton}}</td>
        </tr>
        <tr>
          <td>showHeaders: </td>
          <td>{{t.showHeaders}}</td>
        </tr>
        <tr>
          <td>showTotals: </td>
          <td>{{t.showTotals}}</td>
        </tr>
        <tr>
          <td>style: </td>
          <td>{{t.style}}</td>
        </tr>
      </tbody>
    </table>
    <div class="sectionTitle">Create Day of Week Column: 
      <span ng-if="!vm.data.addColumn" class="far fa-check-circle"></span>
      <span ng-if="vm.data.addColumn" class="fas fa-check-circle" style="color: green;"></span>
      <span ng-if="!vm.data.addColumn" ng-click="vm.addColumn()" class="fa fa-arrow-right buttons"></span>
    </div>
    <div class="sectionTitle">Create New Row in Table: 
      <span ng-if="!vm.data.addRow" class="far fa-check-circle"></span>
      <span ng-if="vm.data.addRow" class="fas fa-check-circle" style="color: green;"></span>
      <span ng-if="!vm.data.addRow" ng-click="vm.addRow()" class="fa fa-arrow-right buttons"></span>
    </div>
    <div ng-if="!vm.data.addRow">
      <table>
        <tr>
          <td style="width: 90px;">Id:</td>
          <td><input type="text" ng-model="vm.newRow.id" /></td>
        </tr>
        <tr>
            <td>Title:</td>
            <td><input type="text" ng-model="vm.newRow.title" /></td>
        </tr>
        <tr>
            <td>Status:</td>
            <td><input type="text" ng-model="vm.newRow.status" /></td>
        </tr>
        <tr>
            <td>Due Date:</td>
            <td><input type="date" ng-model="vm.newRow.dueDate" /></td>
        </tr>
        <tr>
            <td>Category:</td>
            <td><input type="text" ng-model="vm.newRow.category" /></td>        
        </tr>
        <tr>
          <td>Business Unit:</td>
          <td><input type="text" ng-model="vm.newRow.businessUnit" /></td>
        </tr>
        <tr>
          <td>Assigned To:</td>
          <td><input type="text" ng-model="vm.newRow.assignedTo" /></td>
        </tr>
      </table>
    </div>
    <div class="sectionTitle">Create Chart: 
      <span ng-if="!vm.data.createChart" class="far fa-check-circle"></span>
      <span ng-if="vm.data.createChart" class="fas fa-check-circle" style="color: green;"></span>
    </div>
    <div ng-if="!vm.data.createChart">
      <div>Chart type:
        <input type="text" ng-model="vm.chartType" placeholder="ColumnClustered" />
        <span ng-click="vm.addChart()" class="fa fa-arrow-right buttons"></span>
      </div>
    </div>
  </div>
  <div ng-show="vm.persistantDemo">
    <div class="sectionTitle">Calculate Cost for Widgets:
      <span ng-if="!vm.data.grandTotal" class="far fa-check-circle"></span>
      <span ng-if="vm.data.grandTotal" class="fas fa-check-circle" style="color: green;"></span>
      <span ng-if="!vm.data.grandTotal" ng-click="vm.getGrandTotal()" class="fa fa-arrow-right buttons"></span>
    </div>
    <table>
      <tr>
        <td style="width: 50px;">Red:</td>
        <td><input type="number" ng-model="vm.redQty" /></td>
      </tr>
      <tr>
        <td>Blue:</td>
        <td><input type="number" ng-model="vm.blueQty" /></td>
      </tr>
      <tr>
        <td>Yellow:</td>
        <td><input type="number" ng-model="vm.yellowQty" /></td>
      </tr>
      <tr>
        <td colspan="2" style="text-align: right;">Total Cost: <span style="margin-left: 5px; color: red;">{{vm.data.grandTotal}}</span></td>
      </tr>
    </table>
  </div>
</div>